<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.application}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form action="#" th:action="@{/addTask}" method="post">
        <p th:text="#{title.create}"></p>
        <textarea id="taskText" name="taskText" th:value="*{taskText}"/>
        <button type="submit" name="create" th:text="#{button.create}"></button>
    </form>
    <a th:href="@{/list}" th:text="#{page.list}"></a>
</div>
</body>
</html>
