<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.application}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:if="${todoList == null}">
    <h2 th:text="#{taskList.empty}"></h2>
</div>
<div th:if="${todoList != null}">
    <h2 th:text="#{taskList.notEmpty}"></h2>
    <div th:each="task,status : ${todoList}">
        <span th:text="${task}"/>
        <br/>
        <a th:href="@{/deleteTask(id=${status.index})}"
           th:text="#{action.delete}"></a>
        <a th:href="@{/editTaskForm(id=${status.index})}"
           th:text="#{action.edit}"></a>
    </div>
</div>
<div>
    <br/>
    <br/>
    <a th:href="@{/addTaskForm}" th:text="#{page.add}"></a>
</div>
</body>
</html>
