<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="beanA" class="com.yakovchuk.A">
        <property name="name" value="George"/>
    </bean>
    <bean id="beanB" class="com.yakovchuk.B">
        <constructor-arg ref="beanA"/>
    </bean>
    <bean id="beanC" class="com.yakovchuk.C" scope="singleton">
        <property name="father" ref="beanA"/>
        <lookup-method name="createD" bean="beanD"/>
    </bean>
    <bean id="beanD" class="com.yakovchuk.D" scope="prototype">
        <property name="name" value="Bastard"/>
    </bean>
</beans>